In [31]:
# Import pandas(for making data tables)
import pandas as pd
import numpy as np
from datetime import datetime

In [32]:
# Create a Dataframe (data from data.seattle.gov)
df = pd.read_csv('../seattle_911.csv', low_memory=False)

In [33]:
# Replace the spaces (missing date) in Latitude with NaN
df.Latitude = pd.to_numeric(df.Latitude, errors="coerce")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555768 entries, 0 to 555767
Data columns (total 7 columns):
Address            554872 non-null object
Type               555768 non-null object
Datetime           555768 non-null object
Latitude           554426 non-null float64
Longitude          554426 non-null float64
Report Location    516088 non-null object
Incident Number    526735 non-null object
dtypes: float64(2), object(5)
memory usage: 29.7+ MB

In [34]:
df.head()

,Address,Type,Datetime,Latitude,Longitude,Report Location,Incident Number
0,NaN,--T::00,,NaN,NaN,NaN,NaN
1,6900 37th Av S,Medic Response,11/09/2011 11:33:00 PM +0000,47.540683,-122.286131,"(47.540683, -122.286131)",F110104166
2,N 50th St / Stone Way N,Aid Response,11/09/2011 11:32:00 PM +0000,47.665034,-122.340207,"(47.665034, -122.340207)",F110104164
3,E John St / E Olive Way,Aid Response,11/09/2011 11:32:00 PM +0000,47.619575,-122.324257,"(47.619575, -122.324257)",F110104165
4,611 12th Av S,Aid Response,11/09/2011 11:29:00 PM +0000,47.597406,-122.317228,"(47.597406, -122.317228)",F110104162

In [35]:
df = df.drop(df.index[0])
df.head()

,Address,Type,Datetime,Latitude,Longitude,Report Location,Incident Number
1,6900 37th Av S,Medic Response,11/09/2011 11:33:00 PM +0000,47.540683,-122.286131,"(47.540683, -122.286131)",F110104166
2,N 50th St / Stone Way N,Aid Response,11/09/2011 11:32:00 PM +0000,47.665034,-122.340207,"(47.665034, -122.340207)",F110104164
3,E John St / E Olive Way,Aid Response,11/09/2011 11:32:00 PM +0000,47.619575,-122.324257,"(47.619575, -122.324257)",F110104165
4,611 12th Av S,Aid Response,11/09/2011 11:29:00 PM +0000,47.597406,-122.317228,"(47.597406, -122.317228)",F110104162
5,4545 42nd Av Sw,Automatic Medical Alarm,11/09/2011 11:25:00 PM +0000,47.562472,-122.385455,"(47.562472, -122.385455)",F110104161

In [28]:



# dates = np.array([])
# for date in df.Datetime:
#     date = date[:-5]
#     dates = np.append(dates, date)
# dates

array(['', '11/09/2011 11:33:00 PM ', '11/09/2011 11:32:00 PM ', ...,
       '09/13/2016 08:00:00 PM ', '09/13/2016 08:06:00 PM ',
       '09/13/2016 08:15:00 PM '],
      dtype='|S32')

In [36]:
df['Datetime'] = pd.to_datetime(df['Datetime'])

ValueError: hour must be in 0..23

,Address,Type,Datetime,Latitude,Longitude,Report Location,Incident Number
1,6900 37th Av S,Medic Response,11/09/2011 11:33:00 PM +0000,47.540683,-122.286131,"(47.540683, -122.286131)",F110104166
2,N 50th St / Stone Way N,Aid Response,11/09/2011 11:32:00 PM +0000,47.665034,-122.340207,"(47.665034, -122.340207)",F110104164
3,E John St / E Olive Way,Aid Response,11/09/2011 11:32:00 PM +0000,47.619575,-122.324257,"(47.619575, -122.324257)",F110104165
4,611 12th Av S,Aid Response,11/09/2011 11:29:00 PM +0000,47.597406,-122.317228,"(47.597406, -122.317228)",F110104162
5,4545 42nd Av Sw,Automatic Medical Alarm,11/09/2011 11:25:00 PM +0000,47.562472,-122.385455,"(47.562472, -122.385455)",F110104161